:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
color:blueviolet
}

header {
  height: 75px;
  border-bottom: 1px solid #487;
}

.header-wrapper {
display: flex;
justify-content: center;
align-items: center;
gap: 40px;

}

main {
  height: calc(100vh - 150px);
  
}

footer {
  height: 75px;
  border-top: 1px solid #487;
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  
}

.card-content {
  margin-top: 10px;
}

.card-link {
  display: block;
  margin-top: 10px;
  color: blue;
  text-decoration: underline;
}